<h2>{{customService.activeSourceName}}</h2>
<p>{{customService.activeSourceInfo }} </p>
<div *ngFor="let feed of customService.activeList | orderBy: order : true | newsFilter:newsListService.searchTerm">
    <div class="col-md-10 blogShort">
        <h1>{{feed.title}}</h1>
        <!-- <img [src]="feed.ImageURL" alt="post img" height="150" width="200" class="pull-left img-responsive thumb margin10 img-thumbnail"> -->
        <article>
            <div [innerHTML]="feed.description"></div>
        </article>
        <em>{{feed.pubDate}}</em>
        <br>
        <a (click)="categoryService.populate(feed.category)"  routerLink="/category">{{feed.category}}</a>
        <br>
        <a [href]="feed.link">Läs mer</a> 
    </div>
  </div>

  <div *ngIf="!isLoaded">
    <p>Loading</p>
  </div>
