
<form  [formGroup]="customService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="1000px">
    <mat-grid-tile>
      <div class="controls-container">
        <mat-form-field>
          <input formControlName="Source" matInput placeholder="Source">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="Info" matInput placeholder="Info">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="Rss" matInput placeholder="Rss">
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" >Submit</button>
          <button mat-raised-button color="warn" type='button' (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <div class="col-md-7">
            <table class="table table-hover">
              <tr *ngFor="let source of customService.adminSourceList">
                <td (click)="remove(source)">{{source.source}}</td>
                <td (click)="remove(source)">{{source.rss}}</td>
                <td (click)="remove(source)">{{source.info}}</td>
                <td>
                    <a class="btn btn-sm btn-info text-white" (click)="deleteSource(source)"><i class="fa fa-trash"></i></a>
                 
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

