<h2>{{ntService.sourceName}}</h2>
<p>{{ntService.sourceInfo}}</p>
<div *ngFor="let feed of ntService.sortedList | orderBy: date : true | newsFilter:newsListService.searchTerm">
  <div class="col-md-10 blogShort">
      <h1>{{feed.title}}</h1>
      <!-- <img [src]="feed.ImageURL" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail"> -->
      <article>
          <div [innerHTML]="feed.description"></div>
      </article>
      <em>{{feed.pubDate}}</em>
      <br>
      <a (click)="categoryService.populate(feed.category)"  routerLink="/category">{{feed.category}}</a>
      <br>
      <a [href]="feed.link">Läs mer</a> 
      <br>
  </div>
</div>
