<div class="form-group">
  <input type="text" class="form-control" placeholder="Search by title" stye="width: 300px" [(ngModel)]=searchTerm>
</div>


<div style="margin-bottom: 20px" *ngFor="let feed of globalList | newsFilter:searchTerm">
    <div class="col-md-10 blogShort">
        <h1>{{feed.title}}</h1>
        <article>
            <div [innerHTML]="feed.description"></div>
        </article>
        <br>
        <em>{{feed.pubDate}}</em>
        <p style="margin-bottom: 0px">{{feed.source}}</p>
        <a (click)="categoryService.populate(feed.category)"  routerLink="/category">{{feed.category}}</a>
        <br>
        <a [href]="feed.link">Läs mer</a> 
    </div>
  </div>

  <div *ngIf="!isLoaded">
    <p>Loading</p>
  </div>

