<div style="margin-bottom: 20px" *ngFor="let feed of newsListService.globalList | newsFilter:newsListService.searchTerm">
    <div class="col-md-10 blogShort">
        <h1>{{feed.title}}</h1>
        <article>
            <div [innerHTML]="feed.description"></div>
        </article>
        <br>
        <em>{{feed.pubDate}}</em>
        <p style="margin-bottom: 0px">{{feed.source}}</p>
        <a (click)="categoryService.populate(feed.category)"  routerLink="/category">{{feed.category}}</a>
        <br>
        <a [href]="feed.link">Läs mer</a> 
    </div>
  </div>

  <div *ngIf="!isLoaded">
    <p>Loading</p>
  </div>

